<form action="/databases/<%= @db_name %>/<%= @table_name %>/seeds" method="post">
  <label for="seed_name">Seed Name:</label>
    <input id="seed_name" type="text" name="seed_name" />

  <table>
    <thead>
      <tr>
        <th>Column</th>
        <th>Data File</th>
      </tr>
    </thead>
    <tbody>
      <% @target_columns.each do |target_column| %>
      <tr>
        <td><%= target_column %></td>
        <td>
          <select name="<%= target_column %>">
            <% @file_names.each do |file_name| %>
              <option value="<%= file_name %>"><%= file_name %></option>
            <% end %>
          </select>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <input class="button" type="submit" value="Submit" />
</form>
