<form action="/databases/<%= @db_name %>/<%= @table_name %>/seeds" method="post">
  <label for="seed_name">Seed Name:</label>
    <input id="seed_name" type="text" name="seed_name" required />

  <table>
    <thead>
      <tr class="header-row">
        <th>Column Name</th>
        <th>Data File</th>
        <th>Min</th>
        <th>Max</th>
        <th>Boolean</th>
      </tr>
    </thead>
    <tbody>
      <% @target_columns_data.each do |target_column_data| %>

        <% column_name = target_column_data['column_name'] %>
        <% column_data_type = target_column_data['data_type'] %>

        <tr>

          <td class="seed-setting-column"><%= "#{column_name} (#{column_data_type})" %> :</td>

          <!-- SOURCE FILE -->
          <% if column_data_type == :string %>
            <td>
              <select name="source_file_<%= column_name %>" >
                <% @file_names.each do |file_name| %>
                  <option value="<%= file_name %>"><%= file_name %></option>
                <% end %>
              </select>
            </td>
          <% else %>
            <td class="inactive-cell"></td>
          <% end %>

          <!-- MIN AND MAX -->
          <%
          if column_data_type == :int
            step_attribute = "step='1'"
          else
            step_attribute = "step='any'"
          end
          %>

          <% if column_data_type == :int || column_data_type == :float %>

            <td>
              <input type="number" name="min_<%= column_name %>" min="0" <%= step_attribute %> required>
            </td>
            <td>
              <input type="number" name="max_<%= column_name %>" min="0" <%= step_attribute %> required>
            </td>

          <% else %>

            <td class="inactive-cell"></td>
            <td class="inactive-cell"></td>

          <% end %>

          <!-- BOOLEAN -->
          <% if column_data_type == :bool %>

            <td>
              <select name="bool_<%= column_name %>">
                <option value="random">Random</option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </td>

          <% else %>

            <td class="inactive-cell"></td>

          <% end %>
        </tr>

      <% end %>
    </tbody>
  </table>

<hr>

  <input class="button" type="submit" value="Submit" />
</form>
