<% @current_path = :seeds %>
<% @current_route = :index %>
<%= erb(:'partials/breadcrumb') %>

<hr>

<%
@table_data = []
@seeds.each do |seed|

  seed_name_href = "/databases/#{@db_name}/tables/#{@table_name}/seeds/#{seed.id}"
  seed_show_link = HtmlElement.new( 'a', seed.name, { href: seed_name_href } )

  row_data = {
    id: seed.id,
    seed_name: seed_show_link
  }

  seed.settings.each do |setting|
    column = "#{setting.target_column}<br>(#{setting.target_data_type})"
    row_data[column] = setting.to_s
  end

  run_href = "/databases/#{@db_name}/tables/#{@table_name}/seeds/#{seed.id}/run"
  row_data[:run_seed] = HtmlElement.new( 'a', "run", { href: run_href } )

  @table_data.push( row_data )
end
%>

<%= erb(:'partials/table') %>

<hr>

<a class="button" href="/databases/<%= @db_name %>/tables/<%= @table_name %>/seeds/new">New Seed</a>

<% data_href = "/databases/#{@db_name}/tables/#{@table_name}/data" %>
<a class="button" href="<%= data_href %>">View Data</a>
