<span class="breadcrumb">
  <a href="/databases">databases</a> /
  <a href="/databases/<%= @db_name %>"><%= @db_name %></a> /
  <%= @table_name %> /
  <span class="breadcrumb-current">seeds</span>
</span>

<hr>

<%
  @table_data = []
  @seeds.each do |seed|

    row_data = {
      id: seed.id,
      name: seed.name,
    }

    seed.settings.each do |setting|
      row_data[setting.target_column] = setting.source_file
    end

    @table_data.push( row_data )
  end
%>
<%= @table_data %>
<%= erb(:'partials/table') %>

<hr>

<a class="button" href="/databases/<%= @db_name %>/<%= @table_name %>/seeds/new">NEW SEED</a>
