<span class="breadcrumb">
  <a href="/databases">databases</a> /
  <a href="/databases/<%= @db_name %>"><%= @db_name %></a> /
  <%= @table_name %> /
  <span class="breadcrumb-current">seeds</span>
</span>

<hr>

<% if @seeds.empty? %>
  <%= @no_data_message %>
<% else
  @table_data = []
  @seeds.each do |seed|

    row_data = {
      id: seed.id,
      seed_name: "<a href='/databases/#{@db_name}/#{@table_name}/seeds/#{seed.id}'>#{seed.name}</a>"
    }

    seed.settings.each do |setting|
      column = setting.target_column
      row_data[column] = setting.to_s
    end

    @table_data.push( row_data )
  end %>

  <%= erb(:'partials/table') %>
<% end %>

<hr>

<a class="button" href="/databases/<%= @db_name %>/<%= @table_name %>/seeds/new">NEW SEED</a>
