<span class="breadcrumb">
  <a href="/databases">databases</a> /
  <a href="/databases/<%= @db_name %>"><%= @db_name %></a> /
  <%= @table_name %> /
  <span class="breadcrumb-current">seeds</span>
</span>

<%= @table_html %>

<hr>

<a class="button" href="/databases/<%= @db_name %>/<%= @table_name %>/seeds/new">NEW SEED</a>
