<span class="breadcrumb">
  <a href="/databases">databases</a> /
  <a href="/databases/<%= @db_name %>"><%= @db_name %></a> /
  <%= @table_name %> /
  <a href="/databases/<%= @db_name %>/<%= @table_name %>/seeds">seeds</a> /
  <span class="breadcrumb-current">new</span>
</span>

<hr>

<%= erb(:'seeds/partials/seed_new_edit_form') %>
