<span class="breadcrumb">
  <a href="/databases">databases</a> /
  <a href="/databases/<%= @db_name %>"><%= @db_name %></a> /
  <%= @table_name %> /
  <a href="/databases/<%= @db_name %>/<%= @table_name %>/seeds">seeds</a> /
  <span class="breadcrumb-current"><%= @seed.name %></span>
</span>

<hr>

<%@table_data = @seed.settings.each do |setting| %>
  <p class="seed-setting"><span class="seed-setting-column"><%= setting.target_column %></span> : <%= setting.to_s %>
<% end %>

<hr>

<form action='<%= "/databases/#{@db_name}/#{@table_name}/seeds/#{@seed.id}/run" %>' method="post">
  <label for="number_of_runs">Number of runs:</label>
    <input id="number_of_runs" type="number" min="0" max="100" step="1" name="number_of_runs" required/>
  <input class="button" type="submit" value="GO!" />
</form>
