<span class="breadcrumb">
  <a href="/databases">databases</a> /
  <a href="/databases/<%= @db_name %>"><%= @db_name %></a> /
  <%= @table_name %> /
  <a href="/databases/<%= @db_name %>/<%= @table_name %>/seeds">seeds</a> /
  <span class="breadcrumb-current"><%= @seed.name %></span>
</span>

<hr>
